name: First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello World"
      - name: Print Goodbye
        run: echo "Bye!"
      - name: Setup `packer`
        uses: hashicorp/setup-packer@main
  build-image:
    runs-on: ubuntu-22.04
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

